.create-btn {
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    font-family: "Poppins";
    background-color: #3498db;
    color: white;
    font-size: 30px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    position: fixed;
    bottom: 30px;
    right: 50%;
    left: 50%;
    margin-left: 280px;
    transform: translateY(0);
    transition: transform 0.3s;
}
.create-btn:hover {
    transform: translateY(-5px);
}