<%- include('partials/header'); -%>
    <div class="home-page">
        <h1>Dweets API</h1>
        <ul>
            <li><span>/dweet</span> - View all dweets</li>
            <li><span>/dweet/create</span> - Create dweets</li>
            <li><span>/dweet/:id</span> - Fetch a dweet by its id</li>
            <li><span>/dweet/:id/update</span> - Update a dweet by its id</li>
            <li><span>/dweet/:id/delete</span> - Delete a dweet by its id</li>
        </ul>
    </div>
<%- include('partials/footer'); -%>