<%- include('partials/header'); -%>
    <form class="update-form" action="/" method="POST">
        <label for="dweet">Update Dweet</label>
        <input name="dweet" type="text" placeholder="<%- data.dweet -%>"/>
        <label for="author">Author</label>
        <input name="author" type="text" placeholder="<%- data.posted_by -%>"/>
        <input type="submit" value="Update"/>
    </form>
<%- include('partials/footer'); -%>